/* Your custom css code goes here */

body {
   
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment:fixed;

}
h1 {
  align: center;
  color: red;
  }
  
  div#foote {
  height: 100%;
  width: 100%;
}